<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - ECOCY</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="main-container">
        <div class="left-section">
            <img class="logo" src="../images/image.png" alt="MeditoryLogo">
            <p class="tagline"><b>Get timely reminders for your medications and stay on top of your health journey.!</b>
            </p>
        </div>
        <div class="right-section">
            <div class="card">
                <h2 class="title">Login</h2>
                <form action="/login" method="POST" id="login-form">

                    <input class="input" type="email" name="email" placeholder="Email" required>
                    <input class="input" type="password" name="password" placeholder="Password" required>

                    <button class="button" type="submit">Login</button>
                </form>

            </div>
        </div>
    </div>
</body>

</html>