<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Document</title>
</head>
<body>
    
    <section class="inventory-summary">
        <h2>All Medicines List</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Expiration Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="low-stock">
                    <td>Vitamin C</td>
                    <td>5</td>
                    <td>2025-03-15</td>
                    <td><button>Reorder</button></td>
                </tr>
                <tr class="expiring-soon">
                    <td>Paracetamol</td>
                    <td>20</td>
                    <td>2025-02-25</td>
                    <td><button>Expired</button></td>
                </tr>
                <tr class="expiring-soon">
                    <td>Calcium Tablets</td>
                    <td>20</td>
                    <td>2025-02-25</td>
                    <td><button>Reorder</button></td>
                </tr>
                <tr class="expiring-soon">
                    <td>zinc Tablets</td>
                    <td>20</td>
                    <td>2025-02-25</td>
                    <td><button>Sufficient</button></td>
                </tr>
                <tr>
                    <td>Iron Supplements</td>
                    <td>50</td>
                    <td>2025-06-01</td>
                    <td><button>Edit</button></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>